@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  cursor: default;
  font-family: "Space Grotesk", sans-serif;
  gap: 0.6rem;
  overflow: hidden;
}

header {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  padding: 0.5rem 5.5vw;
  background-color: white;
}
header > span {
  font-weight: 700;
  font-size: 1.7rem;
}
header > img {
  height: 40px;
}

input {
  transition: 0.15s;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 3px solid grey;
  outline: none;
  padding: 0.2rem 0.4rem;
  font-weight: 500;
}
input:focus {
  transition: 0.15s;
  border: 3px solid;
}

button {
  transition: 0.15s;
  font-family: "Space Grotesk", sans-serif;
  background-color: transparent;
  border-radius: 0.25rem;
  border: 3px solid;
  padding: 0.3rem 0.6rem;
}
button:hover {
  transition: 0.15s;
  background-color: black;
  color: white;
  border: 3px solid black;
}

::-webkit-scrollbar {
  width: 3.5px;
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  transition: 0.15s;
  background: rgb(91, 91, 91);
  cursor: default;
}
::-webkit-scrollbar-thumb:hover {
  transition: 0.15s;
  background: black;
}

.error {
  margin-left: 0.3rem;
  font-weight: 500;
  color: red;
}
