.chatroom {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  flex-grow: 1;
  overflow: hidden;
  gap: 0.3rem;
}
.chatbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}
.chat-bubble {
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  max-width: 45%;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.chat-bubble-received {
  background-color: black;
  color: white;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.chat-bubble-received > span:nth-child(2) {
  font-size: 0.8rem;
  margin-left: auto;
}
.chat-bubble-send {
  border: 2px solid;
  border-radius: 0.25rem;
  margin-left: auto;
  font-weight: 500;
}
.chatbar {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
  gap: 0.3rem;
}
.chatbar > textarea {
  flex-grow: 1;
}
.chatbar > .material-icons-outlined {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 0.38rem;
  font-size: 1.15rem;
}
