.convo {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  gap: 0.5rem;
  background-color: white;
}
.convo .convo-details {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  flex-grow: 1;
}
.convo .username {
  color: grey;
  font-weight: 500;
  font-size: 0.95rem;
}
.convo .convo-name {
  font-size: 1.1rem;
  font-weight: 500;
}
.convo .opening-message {
  transition: 0.15s;
  font-size: 0.95rem;
  overflow: hidden;
  position: relative;
}
.convo .opening-message > span {
  transition: 0.15s;
  background: white;
  font-weight: 500;
  padding: 0 0.2rem;
  text-decoration: underline 2px;
  color: #555555;
  cursor: pointer;
}
.convo .opening-message > span:hover {
  transition: 0.15s;
  color: black;
}
.convo .message-expand {
  position: absolute;
  right: 0;
  bottom: 0;
}
.convo .join-button {
  font-size: 0.9rem;
  font-weight: 500;
  align-self: center;
}
