.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 1rem;
}
.home > button {
  font-size: 1.2rem;
  font-weight: 600;
}
.home > button:hover {
  transition: 0.15s;
  background-color: black;
  color: white;
  border: 3px solid black;
}
